@model IEnumerable<AmadeusShowcase.Service.DTOs.FlightDTO>

@{
    ViewBag.Title = "Letovi";
}

<h2>Letovi</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirportFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirportTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfConnFlightsDeparture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfConnFlightsReturn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfPassengers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AirportFrom.Iata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirportTo.Iata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfConnFlightsDeparture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfConnFlightsReturn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfPassengers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>
